certifi==2017.11.5
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
decorator==4.1.2
Django==1.11.8
googlemaps==2.5.1
idna==2.6
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
nltk==3.2.4
numpy==1.13.3
pandas==0.21.0
pickleshare==0.7.4
pluggy==0.5.2
prompt-toolkit==1.0.15
py==1.4.34
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
tornado==4.5.2
tox==2.9.1
traitlets==4.3.2
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
wincertstore==0.2
psycopg2==2.6.2
