<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/user_input.js"></script>
</head>

<body>
    <nav class="navbar navbar-default sticky-top">
        <div class="container sticky-top">
            <nav class="navbar navbar-light">
                <span class="shadow p-3 bg-white rounded h2">You</span>
            </nav>
            <nav class="navbar navbar-light navbar-right">
                <span class="shadow p-3 bg-white rounded h2">Bot</span>
            </nav>
        </div>
    </nav>
    <br>
    <div class="container" id="chats"></div>
    <br>
    <div class="container" style="display:none" id="loading-spinner">
        <div class="d-flex align-items-center">
            <strong>Processing...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
    </div>
    <div class="container">
        <form class="form-inline" id="form_usrInput">
            <div class="form-group">
                <label class="sr-only" for="usrInput">Question</label>
                <input type="text" class="form-control" id="usrInput" placeholder="Ask Me Something">
                <button type="submit" class="btn btn-default" id="submit_usrInput">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>
